.cardContainer {
  width: 60px;
  height: 60px;
  padding: 3px;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 5px;
  color: rgba(34,36,38,.75);
  display: grid;
  background-color: whitesmoke;
   
  &:hover {
    cursor: grab;
  }

  .cardHeader {
    text-align: end;
    margin-bottom: 2px;
  }
  .cardBody {
    display: grid;
    justify-content: center;

    .card-reward-title {
      margin-bottom: 15px;
    }
  }

  .crossIcon:hover {
    cursor: pointer;
  }

}

.dragable-main-container {
    margin: 0 !important;
}


  
