.cardContainer {
  width: 60px;
  height: 60px;
  padding: 3px;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 5px;
  color: rgba(34,36,38,.75);
  display: grid;
  background-color: whitesmoke;
  z-index: -1;
   
  &:hover {
    cursor: grab;
  }

  .cardHeader {
    text-align: end;
  }
  .cardBody {
    display: grid;
    justify-content: center;

    .card-reward-title {
      margin-bottom: 15px;
    }
  }

  .crossIcon:hover {
    cursor: pointer;
  }

}


.unDraggCategory {
  width: 60px;
  height: 60px;
  padding: 3px;
  margin: 0 0 0 8px;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 5px;
  color: rgba(34,36,38,.75);
  display: grid;
  background-color: whitesmoke;
  z-index: -1;

  .cardHeader {
    text-align: end;
  }
  .cardBody {
    display: grid;
    justify-content: center;

    .card-reward-title {
      margin-bottom: 15px;
    }
  }

  .crossIcon:hover {
    cursor: pointer;
  }
}
